<div id="main" style="width:633px; height:400px; background-image:url(images/Capture2.PNG)">
	<div id="ban_login" style="float:left; margin-top:280px; margin-left:140px;" title="登录">
	<input type="image" src="images/ban_login.png" name="login" onclick="javascript:go(url:'/login')" />
	</div>
	 <div id="ban_login" style="float:right; margin-top:80px; margin-right:32px;" title="随便逛逛">
	<input type="image" src="images/ban_guang.png" name="guang" onclick="javascript:go(url:'/login')" />
	</div>
	<div id="ban_login" style="float:right; margin-top:6px; margin-right:32px;" title="我要加入">
	<input type="image" src="images/ban_signup.png" name="signup" onclick="javascript:go(url:'/login')" />
	</div>
</div>