<div id="footer">
	&copy;copy right 2009-2015 &nbsp;署02343字 &#8226; &nbsp;
	<%=link_to '关于本站','/about_us'%>
	&nbsp;|&nbsp; <%=link_to '网站服务','/service'%>
	&nbsp;|&nbsp; <%=link_to '联系我们','/contact_us'%>
</div>